@{
    ViewData["Title"] = "Home Page";
}
<div class="main-container">
    <div class="text-center">
        <h1 class="display-4">Welcome to MyDiary</h1>
        <h5>You need to Login to write and read your Diary.</h5>
        <p style="font-size: 12px"> Wanna See More Projects from Fatih? <a href="https://github.com/fcamgz">Then Go Ahead Click Here</a>.</p>
    </div>
    <div>
        <ul class="homepage-links">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index">See Diaries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Create">Write to your Diary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutMe">About Me</a>
            </li>
        </ul>
    </div>
</div>